<div class="container fundo_cidade correcao_tamanho">
	<div class="row-fluid">
		<h1>Capacitação do Seguro Tranquilo Auto</h1>

		<div class="hero-unit fundo_mao hidden-phone"></div>
		
		<div class="row-fluid">
			<div class="hero-unit fundo_mao_peq hidden-desktop hidden-tablet"></div>
                
			<div class="row">
				<div class="span4 offset4">
					<p>
						<a class="btn btn-large btn-warning btn-block" href="/introducao">
							<i class="icon-play icon-white"></i> Prosseguir
						</a>
					</p>
				</div>
			</div>
              
			<hr/>
		</div>

		<footer>
			<p>&copy; CAIXA 2013</p>
		</footer>
	</div>
</div>