<div class="container">
  <div class="row-fluid">
    <p>
      O Seguro Tranquilo Auto é um dos mais completos do mercado e sua comercialização alcança sempre resultados bastante positivos. O objetivo deste material é subsidiar os Indicadores de Negócios com informações e conhecimentos que facilitem sua atuação e, consequentemente, a realização de mais negócios.
    </p>
    <p>
      Além do filme de apresentação do material, que pode ser visualizado abaixo, é possível assistir a duas vídeo aulas, uma sobre produto e outra sobre argumentação para vendas. Três materiais complementares também são disponibilizados: um link para o Manual do Produto, com dados mais detalhados e atualizados sobre o Seguro Tranquilo Auto; um link para o Tutorial do Sistema de Vendas e uma Apresentação do Produto em ppt para seu melhor entendimento.
    </p>

    <div class="well">
      <video width="100%" height="auto" preload="auto" controls="controls" poster="/assets/capa_introducao.jpg">
        <source src="/videos/video1_final_480p.mp4" type="video/mp4">
        <source src="/videos/video1_final_480p.theora.ogv" type="video/ogg">
        <source src="/videos/video1_final_480p.webm" type="video/webm">
        <div class="alert alert-error"> Seu navegador não é compatível com HTML5, atualize seu navegador. </div>
      </video>
    </div>

    <div class="row">
      <div class="span4 offset4">
        <p>
          <a class="btn btn-large btn-warning btn-block" href="/menu">
            <i class="icon-play icon-white"></i> Prosseguir
          </a>
        </p>
      </div>
    </div>

    <hr/>
  </div>
    
  <footer>
    <p>&copy; CAIXA 2013</p>
  </footer>
</div>